<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Мероприятие"
})

<body>

    <div class="wrapper">

        <main class="page">
            <section class="promo" style="background-image: url(img/bg/promo-bg.jpg);">
                <div class="container promo__container">
                    <div class="promo__small-labels">
                        <buttons class="promo__label promo__favorite-btn">
                            <svg width="27" height="26" viewBox="0 0 27 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5 0.993445L17.5939 8.02222L17.7048 8.21261L17.9201 8.25924L25.87 9.98075L20.4503 16.0463L20.3035 16.2106L20.3257 16.4298L21.1451 24.5225L13.7016 21.2425L13.5 21.1536L13.2984 21.2425L5.85494 24.5225L6.67432 16.4298L6.69652 16.2106L6.54971 16.0463L1.13003 9.98075L9.07987 8.25924L9.29522 8.21261L9.40611 8.02222L13.5 0.993445Z"
                                    stroke="#F75000" stroke-opacity="0.2" />
                            </svg>
                        </buttons>
                        <div class="promo__label">+5</div>
                    </div>
                    <div class="promo__inner">
                        <div class="promo__subtitle">
                            <span>Cеминар</span>
                            Продажа недвижимости
                        </div>
                        <h1 class="promo__title">
                            Агентская деятельность на рынке недвижимости 2.0
                        </h1>
                        <div class="event-action promo__info info-promo">
                            <div class="event-action__price info-promo__price">
                                <div class="old-price event-action__old-price info-promo__old-price">5 000 ₽</div>
                                <div class="event-action__new-price info-promo__new-price">10 000₽</div>
                                <p class="event-action__price-term info-promo__price-term">
                                    Цена действительна до:
                                    <time datetime="2021-05-19">19.05.2021</time>
                                </p>
                            </div>
                            <div class="info-promo__places">
                                <span>Осталось мест:</span> 10 из 20
                            </div>
                            <div class="event-action__bottom">
                                <a data-fancybox href="#register-popup" href="javascript:;"
                                    class="btn event-action__btn popup-link">
                                    Зарегистрироваться
                                </a>
                                <dl class="event-action__list info-promo__list">
                                    <dt>Можно списать:</dt>
                                    <dd>4000</dd>
                                    <dt>Можно накопить:</dt>
                                    <dd>1000</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @@include('../../blocks/modules/event/_event-info.html')

            @@include('../../blocks/modules/about/_about-event.html')

            @@include('../../blocks/modules/about/_about-speaker.html')

            @@include('../../blocks/modules/about/_about-speakers.html')

            <section class="event-program" style="background-image: url(img/bg/event-program.jpg);">
                <div class="container">
                    <div class="event-program__inner">
                        <h2 class="section-title event-program__title section-title--upper">
                            программа мероприятия
                        </h2>
                        <div class="event-program__timetable">
                            <ol class="event-program__timetable-list">
                                <li class="event-program__timetable-item">
                                    <span>12:00</span>
                                    Знакомство спикера и аудитории
                                </li>
                                <li class="event-program__timetable-item">
                                    <span>12:15</span>
                                    Начало выступления на тему «Агентская деятельность на рынке недвижимости 2.0»
                                </li>
                                <li class="event-program__timetable-item">
                                    <span>14:40</span>
                                    Вопросы от аудитории
                                </li>
                                <li class="event-program__timetable-item">
                                    <span>14:30</span>
                                    Завершение выступления
                                </li>
                                <li class="event-program__timetable-item">
                                    <span>15:00</span>
                                    Общение с аудиторией лично
                                </li>
                                <li class="event-program__timetable-item">
                                    <span>15:40</span>
                                    Кофе-поинт
                                </li>
                                <li class="event-program__timetable-item">
                                    <span>15:55</span>
                                    Обеденный перерыв
                                </li>
                                <li class="event-program__timetable-item">
                                    <span>16:00</span>
                                    Окончание меропрития
                                </li>
                            </ol>
                        </div>
                        <div class="event-program__bonuses">
                            <h4 class="event-program__bonuses-title">
                                бонусы от спикера
                            </h4>
                            <ul class="event-program__bonuses-list">
                                <li class="event-program__bonuses-item">
                                    Бесплатная консультация после выступления
                                </li>
                                <li class="event-program__bonuses-item">
                                    Бесплатный гайд по 10 эффективным способам продвижения в Instagram
                                </li>
                                <li class="event-program__bonuses-item">
                                    Бесплатная консультация после выступления
                                </li>
                                <li class="event-program__bonuses-item">
                                    Бесплатный гайд по 10 эффективным способам продвижения в Instagram
                                </li>
                                <li class="event-program__bonuses-item">
                                    Бесплатная консультация после выступления
                                </li>
                            </ul>
                        </div>
                        <div class="event-action event-program__info">
                            <div class="event-action__price">
                                <div class="event-action__prices">
                                    <div class="event-action__prices-title">стоимость:</div>
                                    <div class="old-price event-action__old-price">5 000 ₽</div>
                                    <div class="event-action__new-price">10 000₽</div>
                                </div>
                                <p class="event-action__price-term">
                                    Цена действительна до:
                                    <time datetime="2021-05-19">19.05.2021</time>
                                </p>
                            </div>
                            <div class="event-action__bottom">
                                <a data-fancybox href="#speaker-popup" href="javascript:;"
                                    class="btn event-action__btn popup-link">
                                    Зарегистрироваться
                                </a>
                                <dl class="event-action__list">
                                    <dt>Можно списать:</dt>
                                    <dd>4000</dd>
                                    <dt>Можно накопить:</dt>
                                    <dd>1000</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section study-program study-program--bg">
                <div class="container">
                    <h3 class="section-title section-title--upper section-title--center">
                        Программа обучения
                    </h3>
                    <div class="study-program__cards grid">
                        <div class="study-program__card">
                            <h6 class="study-program__card-title">
                                Привлечение подписчиков в Instagram: бесплатные методы продвижения
                            </h6>
                            <div class="study-program__card-time">37 минут</div>
                            <img class="study-program__card-img" src="img/videokurs.jpg" alt="Превью видеокурса">
                            <button class="btn study-program__card-btn">
                                Начать просмотр
                            </button>
                        </div>
                        <div class="study-program__card">
                            <h6 class="study-program__card-title">
                                Привлечение подписчиков в Instagram: бесплатные методы продвижения
                            </h6>
                            <div class="study-program__card-time">37 минут</div>
                            <img class="study-program__card-img" src="img/videokurs.jpg" alt="Превью видеокурса">
                            <button class="btn study-program__card-btn">
                                Начать просмотр
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="study-program">
                <div class="container">
                    <h3 class="section-title section-title--upper">
                        программа обучения
                    </h3>
                    <ol class="accordion study-program__items">
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">Изучение товара</h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">Методы поиска объекта и
                                    поиска покупателя</h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">Договорные отношения с
                                    клиентом</h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">Алгоритм продажи объекта
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Изучение видов и типов правоустанавливающих документов
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Право собственности и алгоритмы изменения прав собственности
                                </h6>
                            </div>
                            <div class="accordion__item-content">
                                <div class="study-program__cards grid">
                                    <div class="study-program__card">
                                        <h6 class="study-program__card-title">
                                            Документы на объект недвижимости
                                        </h6>
                                        <div class="study-program__card-time">35 минут</div>
                                        <img class="study-program__card-img" src="img/videokurs.jpg"
                                            alt="Превью видеокурса">
                                        <button class="btn study-program__card-btn">
                                            Начать просмотр
                                        </button>
                                    </div>
                                    <div class="study-program__card">
                                        <h6 class="study-program__card-title">
                                            Документы на объект недвижимости
                                        </h6>
                                        <div class="study-program__card-time">35 минут</div>
                                        <img class="study-program__card-img" src="img/videokurs.jpg"
                                            alt="Превью видеокурса">
                                        <button class="btn study-program__card-btn">
                                            Начать просмотр
                                        </button>
                                    </div>
                                    <div class="study-program__card">
                                        <h6 class="study-program__card-title">
                                            Документы на объект недвижимости
                                        </h6>
                                        <div class="study-program__card-time">35 минут</div>
                                        <img class="study-program__card-img" src="img/videokurs.jpg"
                                            alt="Превью видеокурса">
                                        <button class="border-btn study-program__card-btn border-btn--gray" disabled>
                                            Нужно пройти прошлые уроки
                                        </button>
                                    </div>
                                    <div class="study-program__card">
                                        <h6 class="study-program__card-title">
                                            Документы на объект недвижимости
                                        </h6>
                                        <div class="study-program__card-time">35 минут</div>
                                        <img class="study-program__card-img" src="img/videokurs.jpg"
                                            alt="Превью видеокурса">
                                        <button
                                            class="border-btn study-program__card-btn study-program__card-btn--repeat">
                                            Повторить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Ограничение прав собственника и алгоритмы снятия обременений и ограничений
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Документы Продавца для организации перехода права собственности (сделки)
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Денежные средства Покупателя: собственные, кредитные, социальные выплат
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Организация проведения сделки купли-продажи
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">Наследство</h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">Налоги</h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">Профессиональная этика
                                    Риелтора</h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Тренинг «5 шагов к эксклюзивному договору»
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                        <li class="accordion__item study-program__item">
                            <div class="accordion__item-head study-program__item-head">
                                <h6 class="accordion__item-title study-program__item-title">
                                    Деловая игра «Проведение сделки “цепочки” с полным погружением»
                                </h6>
                            </div>
                            <ul class="accordion__item-content study-program__item-list">
                                <li>
                                    Право собственности. Виды права собственности, особенности продажи объектов
                                    недвижимости, исходя из права собственности владельца
                                </li>
                                <li>
                                    Алгоритмы трансформации права собственности (жилое в нежилое, нежилое в жилое, земли
                                    сельхоз назначения, земли населенных пунктов, СНТ, ДНП, ИЖС, ЛПХ)
                                </li>
                                <li>
                                    Приватизация квартир, комнат, земельных участков, строений
                                </li>
                                <li>
                                    Первичная регистрация права собственности (ДДУ, ЖСК, СНТ, ДНП)
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <div class="study-program__action study-program__action--not-complete">
                        <div class="study-program__action-inner">
                            <button class="border-btn study-program__pass-final-test border-btn--gray">
                                пройти финальное тестирование
                            </button>
                            <small class="study-program__action-descr">
                                (станет доступно после прохождения всех частей)
                            </small>
                        </div>
                    </div>
                    <div class="study-program__action study-program__action--complete">
                        <div class="study-program__buttons">
                            <a href="#" class="link study-program__wrong-answers"
                                data-da=".study-program__action--complete, 991, first">
                                неверные ответы
                            </a>
                            <a href="#"
                                class="border-btn study-program__action-btn study-program__download-certificate border-btn--white-bg"
                                download>
                                скачать сертификат
                            </a>
                            <button class="btn study-program__action-btn study-program__order-diploma">
                                Заказать диплом
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="action">
                <div class="container">
                    <div class="event-action event-program__info event-action--black">
                        <div class="event-action__price">
                            <div class="event-action__prices">
                                <div class="event-action__prices-title">стоимость:</div>
                                <div class="old-price event-action__old-price">5 000 ₽</div>
                                <div class="event-action__new-price action__new-price">10 000₽</div>
                            </div>
                            <p class="event-action__price-term">
                                Цена действительна до:
                                <time datetime="2021-05-19">19.05.2021</time>
                            </p>
                        </div>
                        <div class="event-action__bottom">
                            <a data-fancybox href="#register-popup" href="javascript:;"
                                class="btn event-action__btn popup-link">
                                Зарегистрироваться
                            </a>
                            <dl class="event-action__list">
                                <dt>Можно списать:</dt>
                                <dd>4000</dd>
                                <dt>Можно накопить:</dt>
                                <dd>1000</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </section>

            @@include('../../blocks/modules/participants/_participants.html')

            @@include('../../blocks/modules/reviews/_reviews.html')

            @@include('../../blocks/modules/map/_map.html')
        </main>

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

    <script>
        function getDayName(year, month, day) {
            return [
                'Вс',
                'Пн',
                'Вт',
                'Ср',
                'Чт',
                'Пт',
                'Сб'
            ][new Date(year, month, day).getDay()];
        }

        function generateSequence(data, n) {
            const sequence = [];

            const daysInMonth = {
                prev: new Date(data.year, data.month - 1, 0).getDate(),
                current: new Date(data.year, data.month, 0).getDate()
            };

            const half = Math.floor(n / 2);

            for (let i = 0; i < n; i++) {

                let current = {
                    number: data.day - half + i,
                    name: '',
                };

                if (current.number > daysInMonth.current) {
                    current.number %= daysInMonth.current;
                    current.name = getDayName(data.year, data.month, current.number);
                } else if (current.number <= 0) {
                    current.number = daysInMonth.prev + current.number;
                    current.name = getDayName(data.year, data.month - 2, current.number);
                } else {
                    current.name = getDayName(data.year, data.month - 1, current.number);
                }


                sequence.push(current);
            }


            return sequence;
        }

        function fillCalendar(calendar, sequence) {

            for (let i = 0; i < sequence.length; i++) {
                let calendarItem = document.createElement('div');
                calendarItem.className = 'event-info__date-item';
                let weekdayEl = document.createElement('div');
                weekdayEl.className = 'event-info__date-weekday';
                weekdayEl.innerText = sequence[i].name;
                calendarItem.appendChild(weekdayEl);
                let numberEl = document.createElement('div');
                numberEl.className = 'event-info__date-num';
                numberEl.innerText = sequence[i].number;
                calendarItem.appendChild(numberEl);

                if (Math.floor(sequence.length / 2) == i) {
                    numberEl.classList.add('event-info__date-num--active');
                }

                calendar.appendChild(calendarItem);
            }

        }

        const data = {
            day: 20,
            month: 5,
            year: 2021,
            time: '12:00',
        };

        fillCalendar(
            document.querySelector('.event-info__date-list'),
            generateSequence(data, 7)
        );

        let eventMonthYear = document.querySelector('.event-info__date-value');

        function formatMonth() {
            const monthNames = [
                "Январь", "Февраль", "Март",
                "Апрель", "Май", "Июнь", "Июль",
                "Август", "Сентябрь", "Октябрь",
                "Ноябрь", "Декабрь"
            ];

            let eventYear = data.year;
            let monthIndex = data.month;
            eventMonthYear.textContent = `${monthNames[monthIndex - 1]}, ${eventYear}`;
        }

        formatMonth(data);

        let eventTime = document.querySelector('.event-info__time-value');
        eventTime.textContent = data.time;
    </script>

</body>

</html>