<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Заявка исполнитель"
})

<body>

    <div class="wrapper">

        <main class="page executor-request">
            <section class="steps">
                <div class="container">
                    <h1 class="page-title steps__title">
                        Ищите надёжного эксперта?
                    </h1>
                    @@include('../../blocks/modules/steps/_steps.html')
                    <button class="btn steps__search-btn">
                        Найти исполнителя
                    </button>
                </div>
            </section>
            <div class="container page__wrapper executor-request__wrapper">
                <div class="aside-filters executor-request__aside-filters" data-da=".wrapper, 1023, first">
                    <div class="aside-filters__header">
                        <h6 class="aside-filters__title">Фильтры</h6>
                        <button class="aside-filters__close-btn">
                            <svg>
                                <use xlink:href="img/sprite.svg#close"></use>
                            </svg>
                        </button>
                    </div>
                    <form class="aside-filters__form" action="#">
                        <fieldset class="aside-filters__item">
                            <legend class="aside-filters__item-title">
                                тип сделки
                            </legend>
                            <label class="aside-filters__item-label">
                                <input class="filter-style" name="transaction-type" type="radio">
                                Возмездная
                            </label>
                            <label class="aside-filters__item-label">
                                <input class="filter-style" name="transaction-type" type="radio">
                                Безвозмездная
                            </label>
                        </fieldset>
                        <fieldset class="aside-filters__item">
                            <legend class="aside-filters__item-title">
                                Вид недвижимости
                            </legend>
                            <label class="aside-filters__item-label">
                                <input class="filter-style" name="property-type" type="radio">
                                Дом
                            </label>
                            <label class="aside-filters__item-label">
                                <input class="filter-style" name="property-type" type="radio">
                                Квартира
                            </label>
                            <label class="aside-filters__item-label">
                                <input class="filter-style" name="property-type" type="radio">
                                Комната
                            </label>
                        </fieldset>
                        <fieldset class="aside-filters__item">
                            <legend class="aside-filters__item-title">Другие параметры</legend>
                            <label class="aside-filters__item-label">
                                <input class="filter-style" name="other-parameters" type="radio">
                                От посредника
                            </label>
                            <label class="aside-filters__item-label">
                                <input class="filter-style" name="other-parameters" type="radio">
                                От клиента
                            </label>
                            <label class="aside-filters__item-label aside-filters__item-label--mt">
                                <input class="filter-style" name="other-parameters" type="radio">
                                Без отклика
                            </label>
                        </fieldset>
                        @@include('../../blocks/modules/aside-filters/_aside-price.html')
                        <fieldset class="aside-filters__item">
                            <legend class="aside-filters__item-title aside-filters__range-title">
                                Город
                            </legend>
                            <select class="filter-style aside-filters__select" name="city" id="city">
                                <option value="city-1">Москва</option>
                                <option value="city-2">Москва</option>
                                <option value="city-3">Москва</option>
                            </select>
                        </fieldset>
                        <div class="aside-filters__buttons grid">
                            <button class="border-btn aside-filters__btn aside-filters__reset-btn"
                                type="reset">Сбросить</button>
                            <button class="btn aside-filters__btn aside-filters__apply-btn"
                                type="submit">Применить</button>
                        </div>
                    </form>
                </div>
                <button class="filter-btn">
                    Фильтры
                    <span>2</span>
                </button>
                <div class="executor-request__cards">
                    @@include('../../blocks/modules/request-card/_executor-request-card.html')
                    @@include('../../blocks/modules/request-card/_executor-request-card.html')
                    @@include('../../blocks/modules/request-card/_executor-request-card.html')
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>