<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Смена пароля"
})

<body>

    <div class="wrapper">

        <main class="page change-password">
            <section class="change-password__main">
                <h1 class="change-password__title">
                    Задайте новый пароль для аккаунта
                    <span class="user-email"></span>
                </h1>

                <form class="form change-password__form" id="change-password" action="#">
                    <div class="change-password__form-item">
                        <label class="form__label" for="new_password">Новый пароль</label>
                        <input class="form__input" type="password" name="new_password" id="new_password">
                    </div>
                    <div class="change-password__form-item">
                        <label class="form__label" for="confirm_password">Подтвердите пароль</label>
                        <input class="form__input" type="password" name="confirm_password" id="confirm_password">
                    </div>
                    <button class="btn form__btn change-password__form-btn" type="submit">Сохранить</button>
                </form>
            </section>

            <section class="change-password__success">
                <div class="change-password__success-inner">
                    <h2 class="change-password__title">
                        Ваш пароль изменен
                    </h2>
                    <a href="#" class="link change-password__return-home">
                        перейти на главную
                    </a>
                </div>
            </section>
        </main>

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')
</body>

</html>