.chat {
    padding: 30px 40px 22px;
    @media (max-width: 575px) {
        padding-top: 35px;
    }

    // .chat__title

    &__title {
        line-height: 28px;
    }

    // .chat__descr

    &__descr {
        margin: 40px 0 10px;
        @extend %text-14;
        color: #000000;
        @media (max-width: 767px) {
            margin-top: 20px;
        }
    }

    // .chat__body

    &__body {
        position: relative;
        background-color: #f5f5f5;
        width: 267px;
        padding: 15px 30px 20px;
        @extend %text-16;
        margin-bottom: 38px;
        @media (max-width: 767px) {
            padding-left: 20px;
            margin-bottom: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -8px;
            width: 9px;
            height: 15px;
            background-color: #f5f5f5;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
            @media (max-width: 575px) {
                display: none;
            }
        }
    }

    // .chat__textarea

    &__textarea {
        margin-bottom: 27px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
}
