.btn {
    @extend %btn;
    background-color: $accent;
    border: 1px solid $accent;
    color: #ffffff;
    &:hover {
        background-color: #fff;
        color: $accent;
    }
}

.border-btn {
    @extend %btn;
    border: 1px solid $accent;
    color: $accent;
    &:hover {
        background-color: $accent;
        color: #ffffff;
    }
    &--white-bg {
        background-color: #fff;
    }
    &--gray {
        border-color: #b5b5b5;
        color: rgba(0, 0, 0, 0.5);
        &:hover {
            background-color: transparent;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
