.participants {
    padding-top: 150px;

    @media (max-width: 991px) {
        padding: 80px 0 85px;
    }

    // .participants__list

    &__items {
        @extend %flex-row;
        flex-wrap: wrap;
        @media (max-width: 1100px) {
            //grid-row-gap: 15px;
        }
    }

    // .participants__item

    &__item {
        position: relative;
        width: 16%;
        //width: 190px;
        height: 190px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        //margin: 0 2px;
        &:hover {
            .participants__item-top {
                &:before,
                &:after {
                    top: -150%;
                }
            }
            .participants__item-bottom {
                &:before,
                &:after {
                    bottom: -150%;
                }
            }
        }
        @media (max-width: 1100px) {
            width: 24%;
            display: flex;
            justify-content: center;
        }
        @media (max-width: 700px) {
            width: 32%;
            height: 118px;
        }
        &:nth-child(4) {
            @media (max-width: 700px) {
                margin-left: 17%;
            }
        }
        &:nth-child(5) {
            @media (max-width: 700px) {
                margin-right: 17%;
            }
        }
        &:nth-child(7) {
            margin-left: 95px / $container * 100%;
            @media (max-width: 1100px) {
                margin-left: 0;
            }
        }
        &:nth-child(9) {
            @media (max-width: 1100px) {
                margin-left: 12.5%;
            }
            @media (max-width: 700px) {
                margin-left: 17%;
            }
        }
        &:nth-child(10) {
            @media (max-width: 700px) {
                display: none;
            }
        }
        &:nth-child(11) {
            margin-right: 95px / $container * 100%;
            @media (max-width: 1100px) {
                margin-right: 12.5%;
            }
            @media (max-width: 700px) {
                margin-right: 17%;
            }
        }
    }

    &__item-top,
    &__item-bottom {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 50%;
    }

    &__item-top {
        top: 0;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: -79%;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transition: 0.3s all;
        }
        &:before {
            left: 0%;
            transform: rotate(30deg);
        }
        &:after {
            left: -100%;
            transform: rotate(-30deg);
        }
    }

    &__item-bottom {
        bottom: 0;
        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: -79%;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transition: 0.3s all;
        }
        &:before {
            left: 0%;
            transform: rotate(-30deg);
        }
        &:after {
            left: -100%;
            transform: rotate(30deg);
        }
    }

    // .participants__item-img

    &__item-img {
    }
}
