.change-password {
    height: 100vh;
    @extend %flex-center;
    overflow: auto;
    // .change-password__title

    &__title {
        max-width: 440px;
        font-weight: 700;
        @extend %text-20;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 40px;
    }

    &__form {
        width: 360px;
        margin: 0 auto;
    }

    &__form-item input {
        width: 100%;
        padding: 0 15px;
    }

    // .change-password__form-item

    &__form-item + &__form-item {
        margin-top: 20px;
    }

    &__form-btn {
        padding: 14px;
        margin-top: 30px;
    }

    &__success {
        display: none;
    }

    &__success-inner {
        @extend %flex-col-center;
    }

    &__return-home {
        font-weight: 600;
        @extend %text-16;
        text-transform: uppercase;
        text-align: center;
        color: $accent;
        padding-bottom: 6px;
        margin-top: 57px;
    }
}
